@model RESToran.Models.Table

@{
    ViewData["Title"] = "Details";
    Restaurant restaurant = ViewBag.Restaurant;
}

<div>
    <h2>Table nbr. @Model.Id details</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>
    </dl>
</div>
<div>
    <a href="/api/Table/Restaurant/@restaurant.Id/Edit/@Model.Id">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model.RestaurantId">Back to List</a>
</div>
