@model IEnumerable<RESToran.Models.Table>

@{
    ViewData["Title"] = "Index";
}

@{
    Restaurant restaurant = ViewBag.Restaurant;

    <h2>@restaurant.Name tables</h2>

}

<p>
    <a class="float-right ml-2" asp-controller="Restaurant" asp-action="Details" asp-route-id="@restaurant.Id">Restaurant homepage</a>
    <a class="float-right" asp-controller="Table" asp-action="Create" asp-route-id="@restaurant.Id">Create New Table</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSeats)
                </td>
                <td class="float-right">
                    <a href="/Table/Restaurant/@restaurant.Id/Edit/@item.Id">Edit</a> |
                    <a href="/Table/Restaurant/@restaurant.Id/Table/@item.Id/Info">Details</a> |
                    <a href="/Table/Restaurant/@restaurant.Id/Table/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
