@model IEnumerable<RESToran.Models.ReservationPeriod>

@{
    ViewData["Title"] = "Index";
    Restaurant restaurant = ViewBag.Restaurant;
}
<h2>@restaurant.Name Reservations</h2>
<p>
    <a class="float-right ml-2" asp-controller="Restaurant" asp-action="Details" asp-route-id="@restaurant.Id">Restaurant homepage</a>
    <a class="float-right" asp-action="Create" asp-route-id="@restaurant.Id">New Reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a href="ReservationPeriod/Edit/@item.Id">Edit</a> |
                <a href="ReservationPeriod/@item.Id/Info">Details</a> |
                <a href="ReservationPeriod/Delete/@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
