@model IEnumerable<RESToran.Models.ReservationPeriod>

@{
    ViewData["Title"] = "Index";
    Restaurant restaurant = ViewBag.Restaurant;
    List<Table> tables_list = new List<Table>();
    @foreach(Table t in ViewBag.Tables){
        tables_list.Add(t);    
    }
}
<link href="~/css/ReservationPeriod_list.css" rel="stylesheet" type="text/css">
<h2>@restaurant.Name Reservations</h2>
<p>
    <a class="float-right ml-2 float-right btn btn-primary btn-lg" role="button" aria-disabled="true" asp-controller="Restaurant" asp-action="Details" asp-route-id="@restaurant.Id">Restaurant homepage</a>
    <a class="float-right float-right btn btn-primary btn-lg" role="button" aria-disabled="true" asp-action="Create" asp-route-id="@restaurant.Id">New Reservation</a>
</p>
<div class="mt-50 mb-50" >
    <label>Search by date:</label>
    <input type="date" />
</div>
<div class="mt-50 mb-50">
    <label>
        List of tables: 
    </label>
    <ul>
        @foreach(var t in tables_list){
        <li>@t.Description</li>
        }
    </ul>
</div>
    <table class="table table-striped table-hover mt-50">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TableDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TableDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
