@model IEnumerable<RESToran.Models.Dish>

@{
    ViewData["Title"] = "Index";
    Restaurant restaurant = ViewBag.Restaurant;
}

<h2>@restaurant.Name Dishes </h2>

<p>
    <a class="float-right ml-2" asp-controller="Restaurant" asp-action="Details" asp-route-id="@restaurant.Id">Restaurant homepage</a>
    <a class="float-right" asp-controller="Dish" asp-action="Create" asp-route-id="@restaurant.Id">Create New Table</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSpecial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseSpecial)
            </td>
            <td>
                <a href="/api/Dish/Restaurant/@restaurant.Id/Edit/@item.Id">Edit</a> |
                <a href="/api/Dish/Restaurant/@restaurant.Id/Dish/@item.Id/Info">Details</a> |
                <a href="/api/Dish/Restaurant/@restaurant.Id/Dish/Delete/@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
