@model RESToran.Models.MainCourse

@{
    ViewData["Title"] = "Details";
    Restaurant restaurant = ViewBag.Restaurant;
}
<link href="~/css/Dish_detail.css" rel="stylesheet" type="text/css">
<h1>Details</h1>

<div>
    <h4>MainCourse</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HouseSpecial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HouseSpecial)
        </dd>
    </dl>
</div>
<div>
    <a class="float-right btn btn-primary btn-lg" role="button" aria-disabled="true" asp-action="Index" asp-route-id="@Model.RestaurantId">Back to List</a>
</div>
